header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  height: 80px;
  padding: 0 40px;
}

.logo {
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  animation: opacity 1s infinite;
  font-family: "Gochi Hand", cursive;
}
@keyframes opacity {
  0% {
    text-shadow: 0 0 11px #fff, 0 0 22px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
      0 0 12px #0fa, 0 0 100px #0fa, 0 0 90px #fff, 0 0 90px #fff;
  }
  100% {
    text-shadow: 0 0 9px #fff, 0 0 10px #fff, 0 0 1px #fff, 0 0 2px #0fa,
      0 0 8px #0fa, 0 0 20px #0fa, 0 0 12px #0fa, 0 0 11px #0fa;
  }
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff6347;
  display: grid;
  place-content: center;
  text-decoration: none;
  color: white;
}
.LoginBtn {
  color: #eee;
  font-size: 40px;
  text-decoration: none;
}
